body {
    background: url("../images/bg.png");
}

h1 {
    font-size: 72px;
    font-weight: bolder;
    color: white;
    font-family: 'Share Tech Mono', monospace;
}
h2 {
    width: 815px;
    font-family: 'Share Tech Mono', monospace; 
    color: white;
    background-color: rgb(24, 134, 134)
}
p {
    font-size: 24px;
    font-family: 'Share Tech Mono', monospace; 
    color: white;
    background-color: rgb(24, 134, 134);
    width: 300px;
    text-decoration: underline;
}
section{
    background-color: rgb(24, 134, 134);
    width: 300px;
}
.blink{
    width:300px;
    background-color: rgb(24, 134, 134);
    padding: 15px;	
    text-align: center;
}
span{
    font-size: 25px;
    font-family: 'Share Tech Mono', monospace;
    color: rgba(57, 245, 10, 0.938);
    animation: blink 1s linear infinite;
}
@keyframes blink{
0%{opacity: 0;}
50%{opacity: .5;}
100%{opacity: 1;}
}